.essay{
    font-family: 'Oregano', cursive;
    font-size: large;
    line-height: 1.5;
    display: none;
    padding: 50px;
}
@media (min-height:900px){

  body{
    font-size: 2.5rem;
  }


}