.poem{

  text-align: center;
  background-color:#fcf7bb;
  height: 100%;

}
img{
  width: 1300px;
  height: 1400px;
}
body{
  width:100%;
}
.poem-2{
  font-size: 25px;
  height: 100%;
}




ul{
  position: fixed;
  top: 0;
  margin: 0 auto 0 auto;
}
.poem-2{
  background-color: #cae8d5;
  font-family: Montserrat-bold;
  font-weight: bold;
  color: #000;
  margin:0 0 0 0;
  text-align: center;
  padding-bottom: 7%;
}
.button{
  position: absolute;
  top: 300px;
  outline: black;
  background-color: #000;
  width: 5%;
  height: 5%;
}
@media (max-width:350px){
  body{
    font-size: 90px;
  }
}
