.poem{
  position: absolute;
  right: 90px;
}
img{
  width: 1300px;
  height: 1400px;
}
body{
  background-image: url(images/doctor.jpg);
}
ul{
  position: fixed;
  top: 0;
  margin: 0 auto 0 auto;
}
